extends ../layouts/application

block title
  = pageTitle

block content
  table(border='0' cellpadding='0' cellspacing='0' width='100%')
    tr
      td(colspan='3' style='padding:3px;' valign='top')
        table(border='0' width='100%' cellspacing='1' cellpadding='2')
          tr
            td(width='50%' style='white-space: nowrap;')
              = 'Фотографий в разделе: '
              b= totalImages
            td(align='right')
              = 'Страницы: '
              span.pagesBlockuz1
                - var totalPages = Math.ceil(totalImages / imagesPerPage)
                - var page = 0
                - var leftDots = false
                - var rightDots = false

                while page < totalPages
                  - page++

                  if (page === 1) & (page !== currentPage)
                    a.swchItem(href=`${urlToCategory}${currentPage - 1}`)
                      span «
                    = ' '
                  if page === currentPage
                    b.swchItemA
                      span= page
                  else if (currentPage - page > 2) && ![1, 2].includes(page)
                    if !leftDots
                      - leftDots = true
                      span.swchItemDots
                        span ...
                  else if (page - currentPage > 2) && ![totalPages, totalPages - 1].includes(page)
                    if !rightDots
                      - rightDots = true
                      span.swchItemDots
                        span ...
                  else
                    a.swchItem(href=`${urlToCategory}${page}`)
                      span= page
                  = ' '

                  if (page === totalPages) & (page !== currentPage)
                    a.swchItem(href=`${urlToCategory}${currentPage + 1}`)
                      span »

          tr
            td(colspan='2' align='center')
              hr
              table(style='width:100%; min-width:900px' border='0' cellspacing='0' cellpadding='0' align='center')
                tr
                  td
                    ul.allEntriesTable.u-ecc-4#uEntriesList
                      each image, index in images
                        li.phtTdMain.uEntryWrap
                          div#entryID9.entryBlock
                            span.uphoto
                              span.photo-block
                                span.ph-wrap
                                  span.ph-tc
                                    img(src=`/images/gallery/thumb/${image.thumbImageInfo.filename}`)
                                  a.ph-link(href=`/gallery/detail/${image.slug}`)
                                    span.ph-tc
                                      span.ph-data
                                        span.ph-date= image.title
                                        span.ph-descr Открыть в отдельном окне
                                span.ph-details.ph-js-details
                                  span.phd-views= image.views
                                  span.phd-comments= image.comments.length
                                  span.phd-rating
                                    span#entRating9= (Math.round(image.rating * 100) / 100).toFixed(1)
          tr
            td(colspan='2' align='center')
              span.pagesBlockuz2
                - var totalPages = Math.ceil(totalImages / imagesPerPage)
                - var page = 0
                - var leftDots = false
                - var rightDots = false

                while page < totalPages
                  - page++
                  - var firstNumber = (page - 1) * imagesPerPage + 1
                  - var lastNumber = (page === totalPages) ? totalImages : page * imagesPerPage
                  - var imagesPage = (firstNumber !== lastNumber) ? `${firstNumber}-${lastNumber}` : firstNumber

                  if page === currentPage
                    b.swchItemA
                      span= imagesPage
                  else if (currentPage - page > 2) && ![1, 2].includes(page)
                    if !leftDots
                      - leftDots = true
                      span.swchItemDots
                        span ...
                  else if (page - currentPage > 2) && ![totalPages, totalPages - 1].includes(page)
                    if !rightDots
                      - rightDots = true
                      span.swchItemDots
                        span ...
                  else
                    a.swchItem(href=`${urlToCategory}${page}`)
                      span= imagesPage
                  = ' '
