extends ../layouts/application

include ../shared/comments

block title
  = pageTitle

block content
  table(border='0' cellpadding='0' cellspacing='0' width='100%')
    tr
      td(colspan='3' style='padding:3px;' valign='top')
        #u-photos
          .uphoto-entry
            h2.photo-etitle= image.title
            .photo-edescr= image.description
            .u-center
              .photo-block
                .ph-wrap
                  span.photo-expand
                    center
                      span#phtmDiv35
                        span#phtmSpan35(style='position:relative')
                          img#p339879414(border='0' src=`/images/gallery/${image.originImageInfo.filename}` width=image.originImageInfo.width height=image.originImageInfo.height)

                      a.dd-tip.ulightbox(href=`/images/gallery/${image.originImageInfo.filename}` target='_blank')
                        i.expand-ico
                        | В реальном размере
                        b= ` ${image.originImageInfo.width}x${image.originImageInfo.height}`
                        = ` / ${image.originImageInfo.size / 1000}Kb`
                .photo-edetails.ph-js-details
                  span.phd-views= image.views
                  span.phd-comments= image.comments.length
                  span.phd-rating
                    span#entRating9= (Math.round(image.rating * 100) / 100).toFixed(1)
          .photo-slider.u-center
            #phtOtherThumbs.phtThumbs
              table(border="0" cellpadding="0" cellspacing="0")
                tbody
                  tr
                    td
                      a#leftSwch.leftSwitcher(href='#' rel='nofollow')
                    td(align='center' style="white-space: nowrap;")
                      div#oldPhotos
                        span.animate-wrap
                          a.otherPhotoA(href=`/gallery/detail/${otherImages[0].slug}`)
                            span.ph-wrap
                              span.ph-tc
                                img.otherPhoto(border="0" src=`/images/gallery/thumb/${otherImages[0].thumbImageInfo.filename}`)
                          a.photoActiveA(href=`/gallery/detail/${otherImages[1].slug}`)
                            span.ph-wrap
                              span.ph-tc
                                img.photoActive(border="0" src=`/images/gallery/thumb/${otherImages[1].thumbImageInfo.filename}`)
                          a.otherPhotoA(href=`/gallery/detail/${otherImages[2].slug}`)
                            span.ph-wrap
                              span.ph-tc
                                img.otherPhoto(border="0" src=`/images/gallery/thumb/${otherImages[2].thumbImageInfo.filename}`)
                    td
                      a#rightSwch.rightSwitcher(href="#" rel="nofollow")
        hr
        +comments_block(image.comments)
