include ../mixins/formatter
include ../shared/stars

mixin category_item(itemInfo, url, category)
  table.entryTable(border='0' width='100%' cellspacing='0' cellpadding='2')
    tr
      td.entryTitleTd(width='90%')
        .entryTitle
          | &nbsp;
          a(href=url)= itemInfo.title
      td(align='right' nowrap)
    tr
      td.entryBodyTd(colspan='2')
        != itemInfo.previewBody
    tr
      td.entryDetailsTd(colspan='2')
        a.e-category(href=category.url)= category.title
        = ' | '
        = 'Просмотров: '
        span.entryReads= itemInfo.views

        if itemInfo.loads
          = ` | Загрузок: ${itemInfo.loads}`

        = ` | Добавил: ${itemInfo.author}`
        = ' | Дата: '
        +dateFormatter(itemInfo.publishDate)
        = ' | '
        a.entryCommentLink(href=url)= `Коментарии (${itemInfo.comments.length})`

        div(style='float:right')
          +stars_rating(itemInfo.rating.score, itemInfo.rating.votes)