include ../mixins/formatter

mixin category_item(itemInfo, url)
  table.entryTable(border='0' width='100%' cellspacing='0' cellpadding='2')
    tr
      td.entryTitleTd(width='90%')
        .entryTitle
          | &nbsp;
          a(href=url)= itemInfo.title
      td(align='right' nowrap)
    tr
      td.entryBodyTd(colspan='2')
        != itemInfo.previewBody
    tr
      td.entryDetailsTd(colspan='2')
        = 'Просмотров: '
        span.entryReads= itemInfo.views
        = ` | Добавил: ${itemInfo.author}`
        = ' | Рейтинг: '
        span.entryRating= (Math.round(itemInfo.rating * 100) / 100).toFixed(1)
        = ' | '
        a.entryCommentLink(href=url)= `Коментарии (${itemInfo.comments.length})`
        = ' | Добавлено: '
        +dateFormatter(itemInfo.publishDate, 'dateTime')