mixin comments_form(comments)
  form(method='post' name='addform' id='acform' style='margin:0px' action='#')
    table.comm-form(border=0 width='100%' cellspacing=1 cellpadding=2)
      tr
        td.comm-form__td2(colspan=2)
          .comm-form__error(align='center')
      tr
        td.comm-form__td1(width='15%' nowrap) Имя *:
        td.comm-form__td2
          input.comm-form__input(type='text' name='name' value='' size=30 maxlength=60)
      tr
        td.comm-form__td1 Email:
        td.comm-form__td2
          input.comm-form__input(type='text' name='email' value='' size=30 maxlength=60)
      tr
        td.comm-form__td1 WWW:
        td.comm-form__td2
          input.comm-form__input(type='text' name='url' value='' size=30 maxlength=70)
      tr
        td.comm-form__td1 ICQ:
        td.comm-form__td2
          input.comm-form__input(type='text' name='icq' size=30 maxlength=20)
      tr
        td.comm-form__td2(colspan=2)
          div(style='padding-bottom:2px')
          table(border=0 cellpadding=0 cellspacing=0 width="100%")
            tr
              td(valign='top')
                textarea.comm-form__input#message(rows=10 cols=40 name='message')
              td(width='5%' valign='top' align='center' style='padding-left:7px;')
                script(type='text/javascript').
                  function emoticon(code) {
                    if (code != "") {
                      var txtarea = document.addform.message;
                      code = ' ' + code + ' ';
                      if (document.selection) {
                        txtarea.focus();
                        var txtContent = txtarea.value;
                        var str = document.selection.createRange();
                        if (str.text == "") {
                          str.text = code;
                        } else if (txtContent.indexOf(str.text) != -1) {
                          str.text = code + str.text;
                        } else {
                          txtarea.value = txtContent + code;
                        }
                      } else {
                        txtarea.value = txtarea.value + code;
                      }
                    }
                  }
                table.comm-form__smiles(border=0 cellpadding=3 onmouseover="document.getElementById('asmltr').style.display='';" onmouseout="document.getElementById('asmltr').style.display='none';")
                  tr
                    each smile in [{name:'angry',code:'>('},{name:'biggrin',code:':D'},{name:'cool',code:'B)'}]
                      td(align='center')
                        a(href='javascript://' onclick=`emoticon('${smile.code}');return false;`)
                          img(style="margin:0;padding:0;border:0;" src=`/assets/images/smiles/${smile.name}.gif` title=smile.name alt=smile.name)
                  tr
                    each smile in [{name:'cry',code:':&bsol;'},{name:'dry',code:'&lt;_&lt;'},{name:'happy',code:'^_^'}]
                      td(align='center')
                        a(href='javascript://' onclick=`emoticon('${smile.code}');return false;`)
                          img(style="margin:0;padding:0;border:0;" src=`/assets/images/smiles/${smile.name}.gif` title=smile.name alt=smile.name)
                  tr
                    each smile in [{name:'sad',code:':('},{name:'smile',code:':)'},{name:'surprised',code:':o'}]
                      td(align='center')
                        a(href='javascript://' onclick=`emoticon('${smile.code}');return false;`)
                          img(style="margin:0;padding:0;border:0;" src=`/assets/images/smiles/${smile.name}.gif` title=smile.name alt=smile.name)
                  tr
                    each smile in [{name:'tongue',code:':p'},{name:'wacko',code:'%)'},{name:'wink',code:';)'}]
                      td(align='center')
                        a(href='javascript://' onclick=`emoticon('${smile.code}');return false;`)
                          img(style="margin:0;padding:0;border:0;" src=`/assets/images/smiles/${smile.name}.gif` title=smile.name alt=smile.name)
                  tr#asmltr(style='display:none;')
                    td#allSmiles(colspan=3 align='center' nowrap)
                      a(href="javascript://" onclick="return false;")
                        | Все смайлы
      tr
        td.comm-form__td1 Код *:
        td.comm-form__td2
          input(type='text' style='text-align:center' name='code' size=5 maxlength=4)
          | &#32;
          img(style='margin:0;padding:0;border:0;vertical-align:middle;' src='/assets/images/capcha.gif' alt='Капча')
      tr
        td.comm-form__td2(colspan=2 align='center')
          input(type='submit' value='- Добавить комментарий -' disabled)