extends ../layouts/application

include ../shared/comments

block title
  = pageTitle

block content
  table(border='0' cellpadding='0' cellspacing='0' width='100%' style='padding: 0px 2px 0px 2px;')
    tbody
      tr
        td(width='80%' style='padding: 2px 2px 0px 2px;')
          | &nbsp;
          a(href='/') Главная страница
          = ' » '
          a(href=`/${type}/${category.slug}`)= category.title
        td(align='right' style='white-space: nowrap; padding: 2px 2px 0px 2px;')
  hr
  .entryTitle(style='padding-bottom:3px;')
    | &nbsp;&raquo;&nbsp;
    h1(style='display:inline;')= item.title
  table.entryTable(border='0' width='100%' cellspacing='0' cellpadding='2')
    tbody
      tr
        td(width='85%')
          if type === 'files'
            | [ Ссылка на скачивание находится в полном описании материала.
            if item.fileSize
              = ` Общий размер фаила составляет: ${item.fileSize}МБ`
            = ' ]'
        td.entryDateTd(align='right' style='white-space: nowrap;')
          +dateFormatter(item.publishDate, 'dateTime')
      tr
        td.entryTextTd(colspan='2')
          != item.mainBody
      tr
        td.entryDetailsTd1(colspan='2')
          = 'Категория: '
          a.entryCatLink.entryCatLink(href=`/${type}/${category.slug}`)
            = category.title
          = ' | Добавил: '
          = item.author
          div(style='float:right')
            ul.stars(title=`Рейтинг: ${(Math.round(item.rating.score * 100) / 100).toFixed(1)}/${item.rating.votes}`)
              li.stars__current(style=`width:${item.rating.score * 20}%`)
              li.stars__item
                a.stars__link._one(href='#') 1
              li.stars__item
                a.stars__link._twos(href='#') 2
              li.stars__item
                a.stars__link._threes(href='#') 3
              li.stars__item
                a.stars__link._fours(href='#') 4
              li.stars__item
                a.stars__link._fives(href='#') 5
      tr
        td.entryDetailsTd2(colspan='2')
          = 'Просмотров: '
          = item.views
          if item.loads
            = ' | Загрузок: '
            = item.loads
          = ' | Комментарии: '
          = item.comments.length
          = ' | Рейтинг: '
          = (Math.round(item.rating.score * 100) / 100).toFixed(1)
          | /
          = item.rating.votes
          = ' | '
  br
  +comments_block(item.comments)