include ../mixins/formatter
include ../shared/stars

mixin category_item(itemInfo, url, category)
  table.category-item(border='0' width='100%' cellspacing='0' cellpadding='2')
    tr
      td(width='90%')
        | &nbsp;
        if url
          a.category-item__title-link(href=url)!= itemInfo.title
        else
          span.category-item__title-link!= itemInfo.title
      td(align='right' nowrap)
    tr
      td.category-item__preview-body(colspan='2')
        != itemInfo.previewBody
    tr
      td.category-item__details-td(colspan='2')
        if category
          a.category-item__link(href=category.url)= category.title
          = ' | '
        = `Просмотров: ${itemInfo.views}`
        if itemInfo.loads
          = ` | Загрузок: ${itemInfo.loads}`
        = ` | Добавил: ${itemInfo.author}`
        = ' | Дата: '
        +dateFormatter(itemInfo.publishDate)
        = ' | '
        if url
          a.category-item__link(href=url)= `Коментарии (${itemInfo.comments.length})`
        else
          = `Коментарии (${itemInfo.comments.length})`

        .category-item__rating
          +stars_rating(itemInfo.rating.score, itemInfo.rating.votes)