extends ../layouts/application

include ../mixins/formatter

block title
  = pageTitle

block content
  table(border='0' cellpadding='0' cellspacing='0' width='100%' style='padding: 0px 2px 0px 2px;')
    tr
      td(width='80%' style='padding: 2px 2px 0px 2px;')
        | &nbsp;
        a(href='/') Главная страница
        = ` » Видео » ${pageTitle}`
      td(align='right' style='white-space: nowrap; padding: 2px 2px 0px 2px;')
  hr
  table(border='0' cellpadding='0' cellspacing='0' width='100%' style='padding: 0px 2px 0px 2px;')
    tr
      td(width='60%' style='padding: 2px 2px 0px 2px;')
        != '&nbsp;Всего материалов в каталоге: '
        b= totalVideos
        br
        != '&nbsp;Показано материалов: '
        b
          span.numShown73
            - var firstNumber = (currentPage - 1) * videoPerPage + 1
            = firstNumber
            | -
            = firstNumber + videos.length - 1
      td(align='right' style='white-space: nowrap; padding: 2px 2px 0px 2px;')
        include ../shared/pagination_short
        +paginationShort(currentPage, totalVideos, videoPerPage, urlToCategory)
  hr
  #allEntries
    each video, index in videos
      div(id=`#entryID11${index}`)
        table.entryTable(border='0' width='100%' cellspacing='0' cellpadding='2')
          tr
            td.entryTitleTd(width='90%')
              .entryTitle
                | &nbsp;
                a(href=`/video/detail/${video.slug}`)= video.title
            td(align='right' nowrap)
          tr
            td.entryBodyTd(colspan='2')
              != video.previewBody
          tr
            td.entryDetailsTd(colspan='2')
              = 'Просмотров: '
              span.entryReads= video.views
              = ` | Добавил: ${video.author}`
              = ' | Рейтинг: '
              span.entryRating= (Math.round(video.rating * 100) / 100).toFixed(1)
              = ' | '
              a.entryCommentLink(href=`/videos/detail/${video.slug}`)= `Коментарии (${video.comments.length})`
              = ' | Добавлено: '
              +dateFormatter(video.publishDate, 'dateTime')
      hr.entryHr(align='right')
  hr
  table(border='0' cellpadding='0' cellspacing='0' width='100%' style='padding: 0px 2px 5px 2px;')
    tr
      td(width='100%' style='padding: 2px 2px 7px 2px;')
        center
          include ../shared/pagination_long
          +paginationLong(currentPage, totalVideos, videoPerPage, urlToCategory)
