extends ../layouts/application

include ../mixins/formatter

block title
  = pageTitle

block content
  table(border='0' cellpadding='0' cellspacing='0' width='100%' style='padding: 0px 2px 0px 2px;')
    tbody
      tr
        td(width='80%' style='padding: 2px 2px 0px 2px;')
          | &nbsp;
          a(href='/') Главная страница
          = ' » Файловый архив » '
          a(href=`/video/${category.slug}`)= category.title
        td(align='right' style='white-space: nowrap; padding: 2px 2px 0px 2px;')
  hr
  .entryTitle 
    | &nbsp;
    = video.title
  table.entryTable(border='0' width='100%' cellspacing='0' cellpadding='2')
    tbody
      tr
        td(width='85%')
          | [  Ссылка на скачивание находится в полном описании материала. Общий размер фаила составляет: ]
        td.entryDateTd(align='right' style='white-space: nowrap;')
          +dateFormatter(video.publishDate, 'dateTime')
      tr
        td.entryTextTd(colspan='2')
          != video.mainBody
      tr
        td.entryDetailsTd1(colspan='2') 
          = 'Категория: '
          a.entryCatLink.entryCatLink(href=`/video/${category.slug}`)
            = category.title
          = ' | Добавил: '
          = video.author 
      tr
        td.entryDetailsTd2(colspan='2')
          = 'Просмотров: '
          b= video.views
          = ' | Загрузок: '
          b 0
          = ' | Рейтинг: '
          b= (Math.round(video.rating * 100) / 100).toFixed(1)
          = ' | '
          select#rt111.eRating(size='1' name='rating')
            option(value='0' selected='') - Оценить -
            option(value='5') Отлично
            option(value='4') Хорошо
            option(value='3') Неплохо
            option(value='2') Плохо
            option(value='1') Ужасно
          hr.entryHr1(align='right')
  br
  
  <!-- Comments -->
  table(border='0' cellpadding='0' cellspacing='0' width='100%')
    tbody
      tr
        td(width='60%' height='25') 
          = 'Всего комментариев: '
          b= video.comments.length 
        td(align='right' height='25')
      tr
        td(colspan='2')
          #myGrid(style='display:none;')
            div(style="position:absolute;left:expression(((document.documentElement.clientWidth?document.documentElement.clientWidth:document.body.clientWidth)/2-110)+'px');top:expression((ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop)+'px');text-align:center;padding-top:250px;")
              img(src='http://src.ucoz.net/img/ma/m/i3.gif' border='0' width='220' height='19')
          a(name='comments')
          #newEntryT
          #allEntries
          #newEntryB
      tr
        td(colspan='2' align='center')
      tr
        td(colspan='2' height='10')
      style(type='text/css') .myOwnFld{display:none;}
  form(method='post' name='addform' id='acform' style='margin:0px' action='#')
    table.commTable(border='0' width='100%' cellspacing='1' cellpadding='2' class='commTable')
      tbody
        tr
          td.commTd2(colspan='2')
            .commError#eMessage(align='center')
        tr
          td.commTd1(width='15%' nowrap='')
            | Имя *:
          td.commTd2
            input.commFl(type='text' name='name' value='' size='30' maxlength='60' style='background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;')
        tr
          td.commTd1
            | Email:
          td.commTd2
            input.commFl(type='text' name='email' value='' size='30' maxlength='60')
        tr
          td.commTd1
            | WWW:
          td.commTd2
            input.commFl(type='text' name='www' value='' size='30' maxlength='70')
        tr
          td.commTd2(colspan='2')
            div(style='padding-bottom:2px')
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tbody
                tr
                  td(valign='top')
                    textarea.commFl#message(style='height:135px;' rows='8' name='message' cols='30')
        tr
          td.commTd1(nowrap='')
            | Код *:
          td.commTd2
            input.securityCode(type='text' style='text-align:center' name='code' size='5' maxlength='4')
            img#secuImg(style='margin:0;padding:0;border:0;' align='absmiddle' src='osnova/5-0-1209396175.gif')
        tr
          td.commTd2(colspan='2' align='center')
            input.commSbmFl#addcBut(type='submit' name='submit' value='- Добавить комментарий -')
    input.myOwnFld(type='text' size='20' name='syst')
    input(type='hidden' name='a' value='36')
    input(type='hidden' name='m' value='5')
    input(type='hidden' name='id' value='111')