extends ../layouts/application

block title
  = pageTitle

block content
  table(border='0' width='100%' cellspacing='1' cellpadding='2' style='padding:3px;')
    tr
      td(width='50%' style='white-space: nowrap;')
        = 'Фотографий в разделе: '
        b= totalItems
      td(align='right')
        include ../shared/pagination_short
        +paginationShort(currentPage, totalItems, itemsPerPage, urlToCategory)

    tr
      td(colspan='2' align='center')
        hr
        ul.gallery-list
          each item, index in items
            li.gallery-list__item
              .gallery-list__photo-block
                .gallery-list__top
                  .gallery-list__img-wrap
                    img(src=`/images/gallery/thumb/${item.thumbImageInfo.filename}`)
                  a.gallery-list__link(href=`/gallery/detail/${item.slug}`)
                    .gallery-list__img-wrap
                      span.gallery-list__link-data
                        .gallery-list__link-top= item.title
                        .gallery-list__link-bottom Открыть в отдельном окне
                .gallery-list__details
                  span.gallery-list__views= item.views
                  span.gallery-list__comments= item.comments.length
                  span.gallery-list__rating= (Math.round(item.rating * 100) / 100).toFixed(1)
    tr
      td(colspan='2' align='center')
        include ../shared/pagination_long
        +paginationLong(currentPage, totalItems, itemsPerPage, urlToCategory)
