extends ../layouts/application

include ../comments/all_in_one

block title
  = pageTitle

block content
  table(border='0' cellpadding='0' cellspacing='0' width='100%')
    tr
      td(colspan='3' style='padding:3px;' valign='top')
        .gallery-detail__photo
          h2.gallery-detail__title= image.title
          .gallery-detail__desc= image.description
          .gallery-detail__photo-block
            .gallery-detail__top
              img.gallery-detail__img(border='0' src=`/images/gallery/${image.forTypeImage.originImageInfo.filename}` width=image.forTypeImage.originImageInfo.width height=image.forTypeImage.originImageInfo.height alt=image.title)

              a.gallery-detail__tip.ulightbox(href=`/images/gallery/${image.forTypeImage.originImageInfo.filename}` target='_blank')
                i.gallery-detail__expand-ico
                | В реальном размере
                b= ` ${image.forTypeImage.originImageInfo.width}x${image.forTypeImage.originImageInfo.height}`
                = ` / ${image.forTypeImage.originImageInfo.size / 1000}Kb`
            .gallery-detail__details
              span.gallery-detail__views= image.views
              span.gallery-detail__comments= image.comments.length
              span.gallery-detail__rating= (Math.round(image.rating.score * 100) / 100).toFixed(1)
        .gallery-detail__slider
          table.gallery-detail__table(border="0" cellpadding="0" cellspacing="0")
            tbody
              tr
                td
                  a.gallery-detail__left-swch(href='#' rel='nofollow')
                td(align='center' style="white-space: nowrap;")
                  .gallery-detail__photos
                    a.gallery-detail__other-block._beside(href=`/gallery/detail/${otherImages[0].slug}`)
                      span.gallery-detail__other-wrap
                        img.gallery-detail__other-img(border="0" src=`/images/gallery/thumb/${otherImages[0].forTypeImage.thumbImageInfo.filename}` alt=`${otherImages[0].title} (Thumb)`)
                    a.gallery-detail__other-block(href=`/gallery/detail/${otherImages[1].slug}`)
                      span.gallery-detail__other-wrap
                        img.gallery-detail__other-img(border="0" src=`/images/gallery/thumb/${otherImages[1].forTypeImage.thumbImageInfo.filename}` alt=`${otherImages[1].title} (Thumb)`)
                    a.gallery-detail__other-block._beside(href=`/gallery/detail/${otherImages[2].slug}`)
                      span.gallery-detail__other-wrap
                        img.gallery-detail__other-img(border="0" src=`/images/gallery/thumb/${otherImages[2].forTypeImage.thumbImageInfo.filename}` alt=`${otherImages[2].title} (Thumb)`)
                td
                  a.gallery-detail__right-swch(href="#" rel="nofollow")
        hr
        +comments_block(image.comments)
